<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>template</string>
	<key>ThemeIdentifier</key>
	<string>uk.thechels.themes.template</string>
	<key>CreatorHomePage</key>
	<string>https://thechels.uk/</string>
	<key>CreatorName</key>
	<string>thechelsuk</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
